.formcalculadora {
    font-size: 120%;
    position: absolute;
    font-weight: bold;
    text-align: left;
    margin: 5% 3% 5% 60%;
    padding: 2% 1% 2% 4%;
    width: 18%;
    right: 8%;
    top: 10%;
    float: right;
    background: #CAF729;
    border-radius: 16%;
}

.introcalculadora {
    display: block;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: x-large;
    margin: 5% 40% 5% 3%;
}

#titulocalc {
    text-shadow: 2px 2px black;
}

#calcmanzana {
    position: relative;
    float: right;
    width: 20%;
    margin: 3% 5% 5% 3%;
}

.img {
    position: relative;
    display: inline-block;
    text-align: center;
}

#resultadocalculadora {
    color: white;
    font-weight: bolder;
    font-size: x-large;
    position: absolute;
    padding: 3%;
    border-radius: 60px;
    top: 30%;
    left: 16%;
    background-color: #21B6B6;
}

#verduras {
    position: relative;
    width: 100%;
    margin-bottom: -2%;
}