#fotoindex {
    width: 100%;
    margin-bottom: -2%;
}

#titulo {
    text-shadow: 2px 2px black;
    position: relative;
    color: white;
    margin: 3% 50% 3% 3%;
    font-size: xxx-large;
    line-height: 200%;
}

#introindex {
    background-color: #79DD7E;
    padding: 0 1% 0;
    position: relative;
    font-size: 150%;
    line-height: 150%;
    color: white;
    margin: 3% 45% 8% 3%;
}

button {
    margin: 0 3% 0;
}

option {
    font-size: 125%;
}

#formulariousuario {
    font-size: 120%;
    position: absolute;
    font-weight: bold;
    margin: 5% 3% 0 60%;
    padding: 2% 2% 2% 2%;
    right: 4%;
    top: 20%;
    float: right;
    background: #CAF729;
    text-align: justify;
    border-radius: 60px;
}

#vamos {
    text-align: center;
    font-weight: bold;
    color: midnightblue;
}



