div h2 {
    text-shadow: 2px 2px black;
    font-size: xx-large;
    color: white;
    margin: 5% 5% 2% 5%;
    padding: 5%;
    position: relative;
    left: auto;
    background: #2ECBAA;
    border-radius: 30px;
    text-align: center;
}

input[type="text"]:disabled {
    background: transparent;
    text-shadow: 2px 2px black;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: xxx-large;
}

body {
    background: white;
}

p {
    color: black;
}

#ejercicio1 {
    display: none;
    background: #21B6B6;
    position: relative;
    float: left;
    padding: 2% 2% 2% 5%;
    margin: 2% 2% 1% 5%;
    width: 36%;
    border-radius: 10px;
    opacity: .8;
}

#ejercicio2 {
    display: none;
    background: #79DD7E;
    position: relative;
    float: right;
    padding: 2% 2% 2% 5%;
    margin: 2% 5% 1% 2%;
    width: 36%;
    border-radius: 10px;
    opacity: .8;
}

#ejercicio3 {
    display: none;
    background: #2ECBAA;
    position: relative;
    float: left;
    padding: 2% 2% 2% 5%;
    margin: 2% 2% 1% 5%;
    width: 36%;
    border-radius: 10px;
    opacity: .8;
}

#ejercicio4 {
    display: none;
    background: #CAF729;
    position: relative;
    float: right;
    padding: 2% 2% 2% 5%;
    margin: 2% 5% 1% 2%;
    width: 36%;
    border-radius: 10px;
    opacity: .8;
}

button {
    position: relative;
    padding: 1% 4% 1% 4%;
    font-size: 90%;
    text-align: center;
}

#primerboton {
    margin: 30% 3% 2% -16%;
}

#segundoboton{
    margin-top: 0.5%;
}

#botones{
    position: relative;
    margin-left: 3%;
    padding: 4% 4% 1% 45%;
}

.titulo{
    font-weight: bold;
}